*.ipch
*.sdf
*.opendb
*.db
*.user
*.log
*.tlog

*.exe
*.dll
*.bundle
*.dylib
*.so
*.exr
*.gif
*.mp4
*.h264
*.aac
*.webm
*.ogg
*.flac
*.wav

.vs/
.vscode/
_out/
_tmp/
_build_*/
external/
Library/
obj/
Temp/

*.csproj
*.sln
